<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DashBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
	<session-timeout>15</session-timeout>
	<cookie-config>
	<http-only>true</http-only>
	</cookie-config>
	 <tracking-mode>COOKIE</tracking-mode>
</session-config>

<error-page>
	<error-code>404</error-code>
    <location>/ErrorPage.jsp</location>
</error-page>
<error-page>
	<error-code>500</error-code>
	<location>/ErrorPage.jsp</location>
</error-page>
<error-page>
	<error-code>403</error-code>
	<location>/ErrorPage.jsp</location>
</error-page>

<!-- Start code For Session Filter -->
 <filter>
    <filter-name>SessionFilter</filter-name>
		<filter-class>com.parinati.util.SessionFilter</filter-class>
		<init-param>
			<param-name>avoid-urls</param-name>
			<param-value>/index.jsp,/ErrorPage.jsp</param-value>
		</init-param>
</filter>
<filter-mapping>
   	<filter-name>SessionFilter</filter-name>
   	<url-pattern>*.jsp</url-pattern>
</filter-mapping>
<filter>
    <filter-name>httpHeaderSecurity</filter-name>
    <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
       <param-name>antiClickJackingOption</param-name>
       <param-value>SAMEORIGIN</param-value>
    </init-param>
    <init-param>
	<param-name>xssProtectionEnabled</param-name>
	<param-value>true</param-value>
</init-param>
</filter>
<filter-mapping>
    <filter-name>httpHeaderSecurity</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<filter>
 <filter-name>CorsFilter</filter-name>
  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  <init-param>
    <param-name>cors.allowed.origins</param-name>
    <param-value>*</param-value>
  </init-param>
   <init-param>
    <param-name>cors.allowed.headers</param-name>
    <param-value>X-Frame-Options,Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
  </init-param>
</filter>
<filter-mapping>
  <filter-name>CorsFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
<!-- End code For Session Filter -->

   <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.parinati.userLogin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>