html, body, form {
	font-family: Trebuchet-MS;
}
tr{
	height:27px;
}

th{
	background-color: #ffC30B;
	background: linear-gradient(to top, #ffc30b, #fffc70 );
}


.zebra tr:nth-child(even)
{
	background-color:#DCDCDC
}

odd
{
    background-color:#fcf75e;
}

/* button {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     border-bottom:1px solid #0147FA;
     cursor: pointer;
} */

.overlay{position: absolute;left: 0; top: 0; right: 0; bottom: 0;z-index: 3;background-color: rgba(255,255,255,0.8);}

.overlay-content {
    position: fixed;
    top: 50%;
    left: 25%;
    right:50%;
    text-align: center;
    font-size:small;
    font-weight:bold;
}

.required:after { content:" *"; color: red}

input[type=submit]{
border-radius: 15px; 
/* border:none; */
font-family: Trebuchet-MS;
font-size:Medium;
padding : 3px 20px 3px 20px;
background: linear-gradient(to top, darkgray, whitesmoke ); 
}
input[type=reset]{
border-radius: 15px; 
/* border:none; */
font-family: Trebuchet-MS;
font-size:Medium;
padding : 3px 20px 3px 20px;
background: linear-gradient(to top, darkgray, whitesmoke ); 
}

input[type=text] {
	border-radius: 5px;
}

table{
	border-collapse: inherit;
	border:1px;
	border-style: solid;
	border-color: silver
}


.tableheader{
	background-color: #C0C0C0;
	background: linear-gradient(to top, lavender,white);
	font-weight: bold;
	text-align:center;
	height:40px;
	width: 100%;
}
