html, body, form {
	font-family: Trebuchet-MS;
}
tr{
	height:27px;
}

th{
	background-color: #ffC30B;
	background: linear-gradient(to top, #ffc30b, #fffc70 );
}


.zebra tr:nth-child(even)
{
	background: linear-gradient(to top, #DCDCDC, white );
}

.zebra tr:nth-child(odd)
{
    background:white;
}


.overlay{
	position: absolute;
	left: 0; 
	top: 0;
	right: 0; 
	bottom: 0;
	z-index: 3;
	background-color: rgba(255,255,255,0.8);
	}

.overlay-content {
	font-family: Trebuchet-MS;
    position: fixed;
    top: 30%;
    left: 25%;
    right:50%;
    width:50%;
    height:50%;
    text-align: center;
    font-size:medium;
    font-weight: bold
}

.required:after { content:" *"; color: red}

input[type=submit]{
border-radius: 15px; 
font-family: Trebuchet-MS;
font-size:Medium;
padding : 3px 20px 3px 20px;
background: linear-gradient(to top, darkgray, whitesmoke ); 
}
input[type=reset]{
border-radius: 15px; 
font-family: Trebuchet-MS;
font-size:Medium;
padding : 3px 20px 3px 20px;
background: linear-gradient(to top, darkgray, whitesmoke ); 
}

input[type=text] {
	border-radius: 5px;
}

table{
	border-collapse: inherit;
	border:1px;
	border-style: solid;
	border-color: silver
}


.tableheader{
	background: linear-gradient(to top, lavender,white);
	font-weight: bold;
	text-align:center;
	height:40px;
	width: 100%;
}
div.error {
	color: red !important;
	text-align: left;
	font-size: small;
}